/* form {
  box-shadow: 5px 5px 20px lightgrey;
  height: 500px;
  width: 700px;
}

input {
  padding: 10px;
  margin: 10px;
  width: 350px;
  margin-left: 11rem;
  margin-top: 1rem;
}

.loginBtn {
  position: relative;
  left: 14rem;
} */
